{% extends 'base.html' %}

{% block content %}

	<form class="form-horizontal" action="/golinks/search/" method="POST">
		<fieldset>
			<!-- Search input-->
			<div class="form-group">
				<div class="col-md-12">
					<input type="text" id="searchinput" name="searchinput" placeholder="search for a go-link"
						class="form-control input-md" value="{{previous_search_text}}">
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<div class="col-md-12 text-center">
					<button type=submit class="btn btn-primary btn-lg">Search</button>
				</div>
			</div>
		</fieldset>
	</form>


	<form class="form-horizontal" action="/golinks/submit/" method="POST">
		<fieldset>

			<div class="form-group">
				<div class="col-md-4">
					<input type="hidden" id="gid" name="gid" {% if edit_record %} value="{{edit_record.gid}}"
						{% endif %}>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="name">Name</label>
				<div class="col-md-4">
					<input id="name" name="name" type="text" placeholder="name" class="form-control input-md"
						{% if edit_record %} value="{{edit_record.name}}" {% else %} value="{{previous_search_text}}"
						{% endif %}>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="url">URL</label>
				<div class="col-md-4">
					<input id="url" name="url" type="text" placeholder="url" class="form-control input-md"
						{% if edit_record %} value="{{edit_record.url}}" {% endif %}>
				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="ffav">Favicon</label>
				<div class="col-md-4">
					<input id="ffav" name="ffav" type="text" placeholder="favicon url (optional)"
						class="form-control input-md" {% if edit_record %} value="{{edit_record.favicon}}" {% endif %}>

				</div>
			</div>

			<!-- Button (Double) -->
			<div class="form-group row">
				<div class="pull-left">
					<button type="submit" class="btn btn-success">Save</button>
				</div>
				{% if edit_record %}
				<div class="pull-right">
					<a href="{{ url_for('.golink_delete', name=edit_record.name) }}">
						<button type="button" class="btn btn-danger">Delete</button>
					</a>
				</div>
				{% endif %}
			</div>

			{% if edit_record %}
			<div class="form-group">
				<div class="col-md-12 text-center">
					<a href="{{ url_for('.redirect_to_link', name=edit_record.name) }}">
						<button type="button" class="btn btn-primary btn-lg">Go</button>
					</a>
				</div>
			</div>
			{% endif %}

		</fieldset>
	</form>


	{% if all_records %}
	<div class="found_links">
		<h3>All Links</h3>
		<div class="group-link">
			{% for record in all_records %}
			<div class="single-link">
				<a href="{{ url_for('.golink_edit', name=record.name) }}" title="{{record.url}}" class="record">
					<img src="{{record.favicon}}" class="favicon"
						onError="this.onerror = '';this.style.visibility='hidden';" />
					<span class="record_header">go/</span>
					<span class="record_name">{{record.name}}</span>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endblock %}